:root {
	--border-color: #cfcfcf;
	--white: #fff;
	--black: #000;
	--accent: #3366ff;
	--inactive-color: #d5d5d5;

	--placeholder-color: #8e90a6;
	--input-bg: #ededf1;
	--form-legeng-color: #555770;
	--checkbox-label-color: #8c8c8c;
}
